[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=koyomi 
Group=koyomi
WorkingDirectory=/home/koyomi/app/src
Environment="PATH=/home/koyomi/app/venv/bin"
EnvironmentFile=/home/koyomi/.env

ExecStart=/home/koyomi/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000


[Install]
WantedBy=multi-user.target